html {
    font-size: 10px;
}

* {    
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    transition: all 0.3s;
    border: 0; 
    margin: 0; 
    padding: 0;
   }
  
a {
    text-decoration: none;
    color: inherit;
}