html {
    font-size: 10px;
}

* {    
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    transition: all 0.3s;
    border: 0; 
    margin: 0; 
    padding: 1rem;
}
  
a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.switcher input {
    display: none;
}

.controls {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -rem;
    left: 70%;
}

.controls label {
    width: 40%;
    height: 40%;
    background-color: black;
    border-radius: 50%;
    border: 2.5px solid;
    border-color: black;
    cursor: pointer;
    opacity: 0.85;
}

.controls label:hover {
    background-color: white;
}

.switcher 
    input:nth-child(1):checked ~ .controls label:nth-child(1),
    input:nth-child(2):checked ~ .controls label:nth-child(2),
    input:nth-child(3):checked ~ .controls label:nth-child(3),
    input:nth-child(4):checked ~ .controls label:nth-child(4),
    input:nth-child(5):checked ~ .controls label:nth-child(5) {
        background-color: rgb(236, 175, 196);
        border: 2.5px solid;
        border-color: rgb(236, 175, 196);
}

.slides {
    position: relative;
    width: 500vw;
    height: 100vh;
    display: flex;
}

.slide {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0.5rem;
}

.slide__image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.switcher 
    input:nth-child(1):checked ~ .slides {
        left: 0;
}

.switcher 
    input:nth-child(2):checked ~ .slides {
        left: -100vw;
}

.switcher 
    input:nth-child(3):checked ~ .slides {
        left: -200vw;
}

.switcher 
    input:nth-child(4):checked ~ .slides {
        left: -300vw;
}

.switcher 
    input:nth-child(5):checked ~ .slides {
        left: -400vw;
}
